<div class="contact jumbotron text-center">
  <h1 style="color: white;">contact page</h1>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Contact Damon</h2>
      <p class="p-contact">Thank you for taking the time to reach out to me. Please fill out the form below or shoot me an email directly at DamonNguyen92@gmail.com</p>

      <form class="contact-form" action="/contact" method="POST">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Your Message</label>
          <input type="text" name="message" class="form-control">
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </div>
      </form>

    </div>
  </div>

</div>
