<!-- section -->
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h1>Welcome to Damon's webite!</h1>
    <p>The best place to be!</p>
    <a class="btn btn-lg btn-primary" href="/">Get Started</a>
    <a class="btn btn-lg btn-primary" href="/contact">Contact</a>
  </div>
</section>

<!-- main -->
<% contentFor('body') %>
<div class="jumbotron text-center">
  Home Page
</div>

